.folders{
    padding: 20px 0 40px 0;
}
.folder-block{
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding: 10px 25px;
    margin: 13px;
    transition: 0.3s;
    cursor: pointer;
}

.folder-block:hover{
    transform: scale(1.05);
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.folder-block i{
    color: #35C189;
    margin-right: 10px;
    font-size: 32px;
}

.folder-block h5{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin: 0;
}