.Content{
    height: calc(100vh - 150px);
    padding: 40px 0;
    overflow: auto;
}
body{
    overflow: hidden;
    background-color: #f3f3f3;
}
a:focus, button:focus {
    outline: none;
    border: none;
}
.home-header{
    position: relative;
    z-index: 5;
    background-color: #fff;
    color:#666;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    padding: 15px 30px;
}
.home-header h1{
    display: inline-block;
    color: #666;
    font-weight: bold;
}
.home-header .controls{
    display: flex;
    align-items: center;
}

.home-header .controls button{
    background-color: #35C189;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    :hover{
        background-color: #35C189;
    }
}

.home-header .user{
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 50%;
    object-fit: cover;
}
