.TabBar{
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: #eee solid 1.5px;
    // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    .HomeBtn{
        padding: 2px 10px;
        i{
            color: #aaa;
            font-size: 18px;
        }
        &.active{
            i{
                color: #35C189;
            }
        }
    }
} 